* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Colors */
/* Pop variations */
/* Light variations */
/* Deep variations */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}

/*
* Base structure
*/
.cover-container {
  max-width: 42em;
}

/*
* Header
*/
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead .green:hover {
  color: #92e3a9;
}

.full-height {
  height: 100vh;
}

.border-dark {
  border-color: #111;
}

.header-div {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.display-6 {
  font-size: 2.2rem;
}

.display-5 {
  font-size: 2.7rem;
}

.pill-container .pill-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 0.75em 1em;
  color: #f3f3f3f3;
}

.pill-container .pill-group .icon-section {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 1em;
  background: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0em;
}

@media (max-width: 800px) {
  .pill-container .pill-group .icon-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pill-container .pill-group .icon-section:hover {
  background: #3f474f;
}

.pill-container .pill-group .icon-section i {
  font-size: 3.2rem;
}

.pill-container .pill-group .text-section {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1em;
  background: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0em;
}

@media (max-width: 800px) {
  .pill-container .pill-group .text-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shell .main-container {
  overflow: hidden;
}

.shell .main-container .code-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shell .main-container .col {
  overflow: hidden;
  padding: 2em;
}

.shell .main-container .col .code-area-header {
  padding: 1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shell .main-container .col .code-area-header button {
  padding: 0.3em 1.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.shell .main-container .col textarea {
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.editor-bg {
  min-height: 100vh;
  background: url(../../assets/images/editor-background.svg), white;
  background-repeat: repeat-y;
}

.editor-bg-dark {
  min-height: 100vh;
  background: url(../../assets/images/editor-background.svg), transparent;
  background-repeat: repeat-y;
}

.bg-white-100 {
  min-height: 100vh;
  background: white;
  color: #222;
}

.bg-min-100 {
  min-height: 100vh;
}

.muted-link {
  color: #666;
  text-decoration: none;
}

.muted-link:hover, .muted-link:focus {
  text-decoration: none;
  color: #222;
}

.green-on-hover:hover {
  color: #009245;
}

.bg-success-light {
  background: #AFD7A9;
}

.bg-project {
  background: #009245;
}

.text-white .muted-link {
  color: #bbb;
}

.text-white .muted-link:hover, .text-white .muted-link:focus {
  color: #fff;
}

.small-container {
  max-width: 60em;
}
