$bg-color: #212529;
$text-color: #f3f3f3;

$font-weights: (
    'normal': 400,
    'regular': 500,
    'bold': 700,
    'bolder': 900
);

$mobile: 800px;


/* Colors */
$clr-primary-900: #009245;
$clr-primary-600: #AFD7A9;
$clr-bs-primary: #0275d8;
$clr-bs-success: #5cb85c;
$clr-bs-info: #5bc0de;
$clr-bs-warning: #f0ad4e;
$clr-bs-danger: #d9534f;
$clr-bs-dark: #292b2c;
$clr-bs-light: #f7f7f7;

/* Pop variations */
$clr-bs-primary-pop: #007bff;
$clr-bs-success-pop: #28a745;
$clr-bs-info-pop: #17a2b8;
$clr-bs-warning-pop: #ffc107;
$clr-bs-danger-pop: #dc3545;
$clr-bs-dark-pop: #343a40;
$clr-bs-light-pop: #f8f9fa;

/* Light variations */
$clr-bs-success-light: #c3e6cb;
$clr-bs-info-light: #d1ecf1;
$clr-bs-warning-light: #fff3cd;
$clr-bs-danger-light: #f8d7da;

/* Deep variations */
$clr-bs-success-deep: #155724;
$clr-bs-info-deep: #0c5460;
$clr-bs-warning-deep: #856404;
$clr-bs-danger-deep: #721c24;