@import './abstracts/restart';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';
@import './partials/cover';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.editor-bg {
    background: url(../../assets/images/editor-background.svg), white;
    background-repeat: repeat-y;
}

.muted-link {
    color: #666;
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.green-on-hover:hover{
    color: $clr-primary-900;
}
